
<%= stylesheet_link_tag "responsive", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "plugins", "data-turbolinks-track" => true %>
		<!-- Page Title
		============================================= -->
		<section id="page-title">

			<div class="container clearfix">
				<h1><%= @equipment_category.category %></h1>
				<span><%= @equipment_category.descriptors %></span>
				<ol class="breadcrumb">
					<%= render_breadcrumbs %>
				</ol>
			</div>

		</section><!-- #page-title end -->

		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap">

				<div class="container clearfix">

					<!-- Post Content
					============================================= -->
					<div class="postcontent nobottommargin col_last">

						<!-- Shop
						============================================= -->

						<div id="shop" class="product-1 clearfix">
						<% @category_rentals.each do |rental|%>
							<div class="product clearfix">
								<div class="product-image">
							<!-- 		<a href="#"> -->
									<%= image_tag ("#{rental.equipment_category_id}/#{rental.category_index_img}") %>
								<!-- 	</a> -->
									<!-- <div class="product-overlay">
										<a href="#" class="add-to-cart"><i class="icon-shopping-cart"></i><span> Add to Cart</span></a>
										<a href="include/ajax/shop-item.html" class="item-quick-view" data-lightbox="ajax"><i class="icon-zoom-in2"></i><span> Quick View</span></a>
									</div> -->
								</div>
								<div class="product-desc">
									<div class="product-title"><h3><a href="#"><%= rental.equipment_name %></a></h3></div>
									<div><h5><%= "#{rental.model} #{rental.make}" %></h5></div>
										<div class="row">
										<div class="col-md-8">
										<p> <%= rental.equipment_description %> </p>

											<ul class="iconlist">
												<li><i class="icon-caret-right"></i> <%= rental.li_one %></li>
												<% unless rental.li_two.nil? %>
													<li><i class="icon-caret-right"></i> <%= rental.li_two %></li>
												<% end %>
												<% unless rental.li_three.nil? %>
													<li><i class="icon-caret-right"></i> <%= rental.li_three %></li>
												<% end %>
											</ul>
										</div>

										<div class="col-md-4">
											<div class="table-responsive">
												<table class="table table-bordered table-striped rental-price">
												  <colgroup>
													<col class="col-xs-2">
													<col class="col-xs-2">
												  </colgroup>
												  <thead>
													<tr>
													  <th colspan="2" class="rental-price-head">RENTAL RATES</th>
													</tr>
												  </thead>
												  <tbody>
													<tr>
													  <td class="rental-price-body">4 Hour</td>
													  <td><%= rental.hourly_rate %></td>
													</tr>
													<tr>
												      <td class="rental-price-body">Daily</td>
													  <td><%= rental.daily_rate %></td>
													</tr>
													<tr>
													  <td class="rental-price-body">Weekly</td>
													  <td><%= rental.weekly_rate %></td>
													</tr>
												  </tbody>
												</table>
											  </div>

<!-- 											<a class="button button-small" href="#"><i class="icon-circle-arrow-right"></i>More Details</a> -->
										</div>
									</div>
								</div>
							</div>
							<% end %>




						</div><!-- #shop end -->

					</div><!-- .postcontent end -->

					<!-- Sidebar
					============================================= -->
					<div class="sidebar nobottommargin">
						<div class="sidebar-widgets-wrap">

							<div class="widget widget_links clearfix">

								<h4>Equipment Types</h4>
								<ul>
							<% @equipment_categories.each do |category| %>
									<% if (category.id == 2) || (category.id == 7) || (category.id == 10)  %>
											<li><%= link_to "#{category.category}", new_equipment_category_path %></li>
										<% else %>
											<li><%= link_to "#{category.category}", {:action => :show, :id => category.id} %></li>
										<% end %>
								<% end %>
								</ul>

							</div>

							<div class="widget clearfix">

								<h4>Popular Items</h4>
								<div id="post-list-footer">
								<% @random_rentals = @popular_rentals.limit(3).order("RANDOM()") %>
								<% @random_rentals.each do |rental| %>
										<div class="spost clearfix">
											<div class="entry-image">
												<a href="<%= equipment_category_path(rental.equipment_category_id) %>"><img src="<%= asset_path("#{rental.equipment_category_id}/#{rental.category_index_img}") %>" alt="Image"></a>
											</div>
											<div class="entry-c">
												<div class="entry-title">
													<h4><a href="<%= equipment_category_path(rental.equipment_category_id) %>"><%= rental.equipment_name %></a></h4>
												</div>
												<ul class="entry-meta">
													<li class="color"><%= rental.daily_rate %>/ Daily</li>

												</ul>
											</div>
										</div>
									 <% end %>

								</div>

							</div>


							<div class="widget subscribe-widget clearfix">

								<h4>Subscribe For Latest Offers</h4>
								<h5>Subscribe to Our Newsletter to get Important News &amp; New Equipment:</h5>

			<form class="new_subscriber notopmargin nobottommargin" id="new_subscriber" action="/subscribers" accept-charset="UTF-8" method="post" novalidate="novalidate"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="DY6S5vxwDHGLC1AbGayOZm7v44Vq7ThGSMaiAowYIOxNij/uAg7qXUZF5FUQz/UH8G8pLXfwD7ponl6C07g8Ig==">
 				<div class="input-group divcenter">
  				<input type="text" name="subscriber[email]" id="subscriber_email" class="form-control" placeholder="Enter your Email">
  				<span class="input-group-btn">
  					<button class="btn btn-success"  type="submit" name="commit" value="submit"><i class="icon-email2"></i></button>
          </span>
         </div>
      </form>



							</div>


						</div>
					</div><!-- .sidebar end -->

				</div>

			</div>

		</section><!-- #content end -->


