



<body class="stretched">

  <!-- Document Wrapper
  ============================================= -->
  <div id="wrapper" class="clearfix">

    <!-- Top Bar
    ============================================= -->
    <div id="top-bar">

      <div class="container clearfix">

        <div class="col_half nobottommargin clearfix">

          <!-- Top Social
          ============================================= -->
          <div id="top-social">
            <ul>
              <li><a href="https://www.facebook.com/pages/Carl-Matthews-Equipment-Company/194119620934286" class="si-facebook"><span class="ts-icon"><i class="icon-facebook"></i></span><span class="ts-text">Facebook</span></a></li>
              <li><a href="https://plus.google.com/100493939364955845063/about" class="si-gplus"><span class="ts-icon"><i class="icon-gplus"></i></span><span class="ts-text">Google+</span></a></li>
            </ul>
          </div><!-- #top-social end -->

        </div>

        <div class="col_half fright col_last clearfix nobottommargin">

          <!-- Top Links
          ============================================= -->
          <div class="top-links">
            <ul>
<!--               <li><a>About</a>
                <ul>
                  <li><a href="">Boscawen, NH</a></li>
                </ul> -->
              <% if current_user %>
                <li class="has-dropdown">
                <%= link_to current_user.username, '#', style: 'color:#E74C3C;' %>
                <ul class="dropdown">
                  <li><%= link_to 'Settings', edit_user_registration_path %></li>
                    <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
                  </ul>
                </li>
                <% else %>
                  <li><%= link_to "Sign In", new_user_session_path %></li>
                <% end %>
              </ul>
          </div><!-- .top-links end -->

        </div>

      </div>

    </div><!-- #top-bar end -->

    <!-- Header
    ============================================= -->
    <header id="header" class="sticky-style-2">

      <div class="container clearfix">

        <!-- Logo
        ============================================= -->
        <div id="logo">
          <a href="<%= asset_path(root_path) %>" class="standard-logo"><%= image_tag('logo-new.png', alt: "Logo") %> </a>
          <a href="<%= asset_path(root_path) %>" class="retina-logo"><%= image_tag('logo-new.png', alt: "retina Logo") %> </a>
        </div><!-- #logo end -->

        <ul class="header-extras">
          <li>
          <a href="tel://1-603-796-1224">
            <i class="i-plain icon-call nomargin"></i>
            <div class="he-text">
              Call Us
              <span>(603) 796-2412</span>
            </div></a>
          </li>
          <li>
          <a href="mailto:info@matthewsrental.com">
            <i class="i-plain icon-line2-envelope nomargin" href="mailto:info@matthewsrental.com"></i>
            <div class="he-text">
              Email Us
              <span>info@matthewsrental.com</span>
            </div></a>
          </li>
          <li>
            <i class="i-plain icon-line-clock nomargin"></i>
            <div class="he-text">
              We're Open
              <span>Mon - Sat, 8AM to 5PM</span>
            </div>
          </li>
        </ul>

      </div>

      <div id="header-wrap">

        <!-- Primary Navigation
        ============================================= -->
        <nav id="primary-menu" class="style-2 center">

          <div class="container clearfix">

            <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

            <ul>
              <li><a href="<%= root_path %>">Home</a></li>
              <li><a href="<%= equipment_categories_path %>"><div>Equipment Rental</div></a></li>
              <li><a href="<%= equipment_sales_path %>"><div>Equipment Sales</div></a></li>
              <li><a href="<%= equipment_purchases_path %>"><div>Equipment Purchasing</div></a></li>
              <li><a href="<%= about_path %>"><div>About</div></a></li>.
              <li><a href="<%= contact_us_path %>"><div>Contact</div></a></li>
            </ul>


            <!-- Top Search
            ============================================= -->
<!--             <div id="top-search">
              <a href="#" id="top-search-trigger"><i class="icon-search3"></i><i class="icon-line-cross"></i></a>
              <form action="search.html" method="get">
                <input type="text" name="q" class="form-control" value="" placeholder="Type &amp; Hit Enter..">
              </form>
            </div> --><!-- #top-search end -->

          </div>

        </nav><!-- #primary-menu end -->

      </div>

    </header><!-- #header end -->
